.campo_suspenso {
 margin: 24px 0;
}

.campo_suspenso label{
  display: block;
  margin-bottom: 8px;
  font-size: 22px;
}

.campo_suspenso select{
  background-color: white;
  box-shadow: 2px 10px 5px #00000019;
  width: 100%;
  border: none;
  font-size: 20px;
  padding: 20px;
  box-sizing: border-box;
  outline: none;
  color: black;
}
